<article class="blog">

    <div class="blog-post-body">
        <header class="blog-header">
            <h2 class="blog-title">
                <a href="{{post.url}}">{{post.title}}</a>
            </h2>
            <p class="blog-date">{{#if post.author}}{{lang 'blog.posted_by' name=post.author}} on {{/if}}{{post.date_published}}</p>
        </header>

        <div class="blog-post-figure">
            {{#if post.thumbnail}}
                <figure class="blog-thumbnail">
                    <a href="{{post.url}}">
                        <img src="{{getImage post.thumbnail 'blog_size'}}" alt="{{post.thumbnail.alt}}" title="{{post.thumbnail.alt}}">
                    </a>
                </figure>
            {{/if}}
        </div>

        <div class="blog-post">
            {{#if post.body}}
                {{{post.body}}}
            {{else}}
                {{post.summary}}
            {{/if}}
        </div>

        {{#if post.show_read_more}}
            <div class="clear"></div>
            <a class="btn btn-alt blog-readmore" href="{{url}}">read more</a>
        {{/if}}

        {{#if show_tags}}
            {{#if post.tags}}
                <ul class="tags">
                    {{#each post.tags}}
                    <li class="tag">
                        <a href="{{url}}">{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/if}}

        {{>components/common/share}}

    </div>
</article>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "url": {{ canonical_url | json }},
  "mainEntityOfPage": {{ canonical_url | json }},
  "name": {{ article.title | json }},
  "author": {{ jsonld_for_seo_object.metafields.jsonld.author | default: article.author | json }},
  "publisher": {
    "@type": "Organization",
    "logo": {
      "@type": "ImageObject",{% unless shop.metafields.jsonld.logoWidth == blank %}
      "width": {{ shop.metafields.jsonld.logoWidth | json }},{% endunless %}{% unless shop.metafields.jsonld.logoHeight == blank %}
      "height": {{ shop.metafields.jsonld.logoHeight | json }},{% endunless %}
      "url": {{ jsonld_logo | json }}
    },
    "name": {{ shop.name | json }}
  },
  "headline": {{ article.title | json }},
  "image": {
    "@type": "ImageObject",{% assign articleImageWidth = article.metafields.jsonld.imageWidth | default: shop.metafields.jsonld.articleImageWidth | default: 1024 %}
    "width": {{ articleImageWidth | json }},{% assign articleImageHeight = article.metafields.jsonld.imageHeight | default: shop.metafields.jsonld.articleImageHeight | default: 1024 %}
    "height": {{ articleImageHeight | json }},{% if article.image %}
    "url": "https:{{ article | img_url: '1024x1024' }}"{% else %}
    "url": "https://cdn.shopify.com/s/images/admin/no-image-large.gif"{% endif %}
  },
  "datePublished": "{{ article.created_at }}",
  "dateModified": "{{ article.published_at }}",
  "description": {{ article.content | strip_html | json }},
  "articleBody": {{ article.content | strip_html | json }}
}
</script>
