{{#if theme_settings.bigcommerce_banners }}
    {{#if banners.bottom}}
    <div class="banners" data-banner-location="bottom">
        <div class="banner">
            {{{limit banners.bottom 1}}}
        </div>
    </div>
    {{/if}}
{{/if}}

{{#if page_type '===' 'default'}}
{{else}}
    <!-- BEGIN Home Brand Slider -->
    {{> components/halothemes/home-brand-slider}}
    <!-- END Home Brand Slider -->
{{/if}}

<footer id="footer-wrapper">
    <section id="main-footer">
        <div class="container">

            {{#if settings.show_newsletter_box}} {{> components/common/subscription-form}} {{/if}}

            <!-- Begin Footer Columns -->
            <div class="footer-columns">
                <div class="column-item first wow fadeIn" data-wow-delay="0m">
                    <h5>Questions & Orders</h5>
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                            <p>
                                <strong>Order by phone <br><a title="phone number 855-855-1666" style="color:#4BA6EA" href="tel:+18558551666"> {{settings.phone_number}}</a></strong> <br>
                                <strong>Call us anytime.</strong><br/> Reach the answering machine? Leave a message. We'll return your call ASAP.

                                <!--<strong>Mon to Fri:</strong> <br>-->
                                <!--10am - 6pm (EST) <br>-->
                                <!--<strong>Saturday:</strong> <br>-->
                                <!--12am - 5pm (EST) <br>-->
                                <!--<strong>Sunday:</strong> Closed-->
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <p>
                                <strong>Send us an Email</strong><br>
                                <a style="color:#4BA6EA" href="mailto:support@care.club">support@care.club</a>
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="column-item wow fadeIn" data-wow-delay="0ms">
                    <h5>Care Club</h5>
                    <ul>
                        <li><a title="About Care Club" href="/about-us/">About Us</a></li>
                        <li><a title="Incontinence Blog" href="/blog/">Blog</a></li>
                        <li><a title="Contact Us" href="/contact-us/">Contact Us</a></li>
                        <li><a title="Testimonials & Reviews" href="/care-club-reviews/">Care Club Reviews</a></li>
                        <br/>
                        <a href="http://www.shopperapproved.com/reviews/care.club/" class="shopperlink"><img rel="nofollow" src="//www.shopperapproved.com/newseals/25019/white-stats.gif" style="border: 0" alt="Customer Reviews" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by Shopper Approved \251 '+d.getFullYear()+'.'); return false;" /></a><script type="text/javascript">(function() { var js = window.document.createElement("script"); js.src = '//www.shopperapproved.com/seals/certificate.js'; js.type = "text/javascript"; document.getElementsByTagName("head")[0].appendChild(js); })();</script>
                    </ul>
                </div>

                <div class="column-item wow fadeIn" data-wow-delay="0ms">
                    <h5>Shop</h5>
                    <ul>
                        {{#each categories}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                        {{/each}}
                        <strong><li><a rel="nofollow" title="Account" style="color:#43A3EB" href="/account.php">My Account</a></li>
                            <li><a title="Reorder" rel="nofollow" style="color:#43A3EB" href="/account.php?action=order_status">Reorder</a></li>
                            <li><a title="Subscriptions" rel="nofollow" style="color:#43A3EB" href="https://careclub.myshopify.com/account/login">Manage Subscriptions</a></li></strong>
                    </ul>
                </div>

                <div class="column-item wow fadeIn" data-wow-delay="0ms">
                    <h5>Top Brands</h5>
                    <ul>
                        <li><a title="Prevail Products" href="/brands/Prevail.html">Prevail</a></li>
                        <li><a title="Tranquility Products" href="/brands/Tranquility.html">Tranquility</a></li>
                        <li><a title="TENA Products" href="/brands/TENA.html">TENA</a></li>
                        <li><a title="Abena Products" href="/brands/Abena.html">Abena</a></li>
                        <li><a title="Covidien Products" href="/brands/Covidien.html">Covidien</a></li>
                        <li><a title="Attends Products" href="/brands/Attends.html">Attends</a></li>
                        <li><a title="Mckesson Products" href="/brands/McKesson.html">McKesson</a></li>
                        <li><a title="Cuties Baby Diapers" href="/brands/cuties/">Cuties</a></li>
                        <li><a title="View all Incontinence Brands" href="/brands/">View All Brands</a></li>
                    </ul>
                </div>

                <div class="column-item wow fadeIn" data-wow-delay="0ms">
                    <h5>Customer Service</h5>
                    <ul>
                        <li><a title="Care Club FAQ" href="/faq/">Help & FAQs</a></li>
                        <li><a title="Shipping & Return Policy" href="/shipping-returns/">Shipping & Return Policy</a></li>
                        <li><a title="Subscribe & Save" href="/subscribe-and-save/">Subscribe & Save</a></li>
                        <li><a title="Rewards Program" href="/rewards-program/">Rewards Program</a></li>
                        <li><a title="Privacy Policy" href="/privacy-policy/">Privacy Policy</a></li>
                        <li><a title="Terms & Conditions" href="/terms-conditions/">Terms &amp; Conditions</a></li>
                        <li><a title="Sitemap" href="/sitemap/">Sitemap</a></li>
                    </ul>
                    <div style="min-height: 100px; overflow: hidden;" class="shopperapproved_widget sa_rotate sa_count1 sa_vertical sa_count1 sa_bgWhite sa_colorBlack sa_borderGray sa_rounded sa_jMy sa_fixed sa_showlinks sa_narrow sa_showdate sa_narrow"></div><script type="text/javascript">var sa_interval = 5000;function saLoadScript(src) { var js = window.document.createElement('script'); js.src = src; js.type = 'text/javascript'; document.getElementsByTagName("head")[0].appendChild(js); } if (typeof(shopper_first) == 'undefined') saLoadScript('//www.shopperapproved.com/widgets/testimonial/3.0/25019.js'); shopper_first = true; </script><div style="text-align:right;"><a class="sa_footer" href="http://www.shopperapproved.com/reviews/care.club/" target="_blank" rel="nofollow"><img class="sa_widget_footer" style="border: 0;" alt="" src=https://www.shopperapproved.com/widgets/widgetfooter-darklogo.png></a></div>
                </div>
            </div>
            <!-- End Footer Columns -->


            <!-- Begin Three Columns -->
            <div class="bottom-columns">

                <div class="column-item third wow fadeIn" data-wow-delay="0ms">
                    <!--<h5>Stay Connected</h5>-->
                    <!--<p>Follow us to stay up-to-date with news and promotions</p>-->
                    <!--{{> components/common/social-links}}-->
                    <h5>Shop With Confidence</h5>
                    <p>Your privacy and trust is our top priority. <br> Read more about our <a style="text-decoration:underline;" href="/privacy-policy/">privacy policy</a>.</p>
                    {{> components/common/trust-seals}}
                </div>

                <div class="column-item first wow fadeIn" data-wow-delay="0ms">
                    <h5>Secure Payments</h5>
                    <p>Your online payments and personal data always remain  safe, confidential, and encrypted.</p>
                    {{> components/common/payment-icons}}
                </div>

                <div class="column-item second wow fadeIn" data-wow-delay="0ms">
                    <h5>Secure Shopping</h5>
                    <p>SSL technology protects your data by encrypting everything shared between our site and you.</p>

                        <ul class="footer-ssl-certificate">
                            {{#if theme_settings.show_geotrust_ssl_seal}}
                            <li>{{> components/common/geotrust-ssl-seal}}</li>
                            {{/if}}
                            <li><img alt="McAfee Secure" style="border: 0; padding-right: 5px;" src="/product_images/uploaded_images/mcafee.png" /></li>
                            <li><img style="border: 0; padding-right: 5px;" src="/product_images/uploaded_images/verisign.png" alt=""></li>
                        </ul>

                </div>

            </div>
            <!-- End Three Columns -->

        </div>
    </section>
    <div id="bottom-footer">
        <div class="container text-{{theme_settings.copyright_alignment}} wow fadeIn">
            {{#if theme_settings.show_copyright_footer}}
                <div class="footer-copyright">
                    <p>&copy; <span id="copyright_year"></span> {{settings.store_name}} All Rights Reserved.</p>
                </div>
                <script type="text/javascript">
                    document.getElementById("copyright_year").innerHTML = new Date().getFullYear();
                </script>
            {{/if}}

            {{#if theme_settings.show_powered_by}}
                <div class="powered-by">
                    <p>Powered by <a href="http://bigcommerce.com">BigCommerce</a>.</p>
                </div>
            {{/if}}

            {{#if theme_settings.show_template_by}}
                <div class="template-by">
                    <p>BigCommerce Templates by <a href="http://themevale.com.com" target="_blank" rel="nofollow">ThemeVale.com</a></p>
                </div>
            {{/if}}

        </div>
    </div>
</footer>

<a href="javascript:void(0);" id="back-to-top"><i class="fa fa-angle-up"></i></a>