{{#if theme_settings.bigcommerce_banners }}
    {{#if banners.bottom}}
    <div class="banners" data-banner-location="bottom">
        <div class="banner">
            {{{limit banners.bottom 1}}}
        </div>
    </div>
    {{/if}}
{{/if}}

{{#if page_type '===' 'default'}}
{{else}}
    <!-- BEGIN Home Brand Slider -->
    {{> components/halothemes/home-brand-slider}}
    <!-- END Home Brand Slider -->
{{/if}}

<footer id="footer-wrapper">
    <section id="main-footer">
        <div class="container">

            {{#if settings.show_newsletter_box}} {{> components/common/subscription-form}} {{/if}}

            <!-- Begin Footer Columns -->
            <div class="footer-columns">
                <div class="column-item first wow fadeIn" data-wow-delay="0m">
                    <h5>Question & Orders</h5>
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                            <p>
                                <strong>Order by phone <br> {{settings.phone_number}}</strong><br><br>
                                <strong>Mon to Fri:</strong> <br>
                                10am - 6pm (EST) <br>
                                <strong>Saturday:</strong> <br>
                                12am - 5pm (EST) <br>
                                <strong>Sunday:</strong> Closed
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <p>
                                <strong>Send us an Email</strong><br>
                                <a href="mailto:support@care.club">Email us <i class="fa fa-hand-o-left"></i></a>
                                <a href="mailto:support@care.club">support@care.club</a>
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="column-item wow fadeIn" data-wow-delay="0ms">
                    <h5>Care Club</h5>
                    <ul>
                        <li><a href="/about-us/">About Us</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/contact-us/">Contact Us</a></li>
                        <li><a href="#placeholder_link">Care Club Reviews</a></li>
                        <br/>
                        <a href="http://www.shopperapproved.com/reviews/care.club/" class="shopperlink"><img src="//www.shopperapproved.com/newseals/25019/white-stats.gif" style="border: 0" alt="Customer Reviews" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by Shopper Approved \251 '+d.getFullYear()+'.'); return false;" /></a><script type="text/javascript">(function() { var js = window.document.createElement("script"); js.src = '//www.shopperapproved.com/seals/certificate.js'; js.type = "text/javascript"; document.getElementsByTagName("head")[0].appendChild(js); })();</script>
                    </ul>
                </div>

                <div class="column-item wow fadeIn" data-wow-delay="0ms">
                    <h5>Shop</h5>
                    <ul>
                        {{#each categories}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="column-item wow fadeIn" data-wow-delay="0ms">
                    <h5>Our Top Brands</h5>
                    <ul>
                        <li><a href="/brands/Prevail.html">Prevail</a></li>
                        <li><a href="/brands/Tranquility.html">Tranquility</a></li>
                        <li><a href="/brands/TENA.html">TENA</a></li>
                        <li><a href="/brands/Abena.html">Abena</a></li>
                        <li><a href="/brands/Covidien.html">Covidien</a></li>
                        <li><a href="/brands/Attends.html">Attends</a></li>
                        <li><a href="/brands/McKesson.html">McKesson</a></li>
                        <li><a href="/brands/cuties/">Cuties</a></li>
                        <li class="all-brands-link"><a href="/brands/">View All Brands</a></li>
                    </ul>
                </div>

                <div class="column-item wow fadeIn" data-wow-delay="0ms">
                    <h5>Customer Service</h5>
                    <ul>
                        <li><a href="#placeholder_link">Help & FAQs</a></li>
                        <li><a href="/shipping-returns/">Shipping & Return Policy</a></li>
                        <li><a href="#placeholder_link">Reward Program</a></li>
                        <li><a href="/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="/terms-conditions/">Terms &amp; Conditions</a></li>
                        <li><a href="/sitemap/">Sitemap</a></li>
                    </ul>
                </div>

            </div>
            <!-- End Footer Columns -->


            <!-- Begin Three Columns -->
            <div class="bottom-columns">

                <div class="column-item third wow fadeIn" data-wow-delay="0ms">
                    <!--<h5>Stay Connected</h5>-->
                    <!--<p>Follow us to stay up-to-date with news and promotions</p>-->
                    <!--{{> components/common/social-links}}-->
                    <h5>Shop With Confidence</h5>
                    <p>Your privacy and trust is our top priority. <br> Read more about our <a style="text-decoration:underline;" href="/privacy-policy.html">privacy policy</a>.</p>
                    {{> components/common/trust-seals}}
                </div>

                <div class="column-item first wow fadeIn" data-wow-delay="0ms">
                    <h5>Secure Payments</h5>
                    <p>Your online payments and personal data will always <br> remain  safe, confidential, and encrypted.</p>
                    {{> components/common/payment-icons}}
                </div>

                <div class="column-item second wow fadeIn" data-wow-delay="0ms">
                    <h5>Secure Shopping</h5>
                    <p>SSL technology protects your data by encrypting all data shared between your computer and our site.</p>

                        <ul class="footer-ssl-certificate">
                            {{#if theme_settings.show_geotrust_ssl_seal}}
                            <li>{{> components/common/geotrust-ssl-seal}}</li>
                            {{/if}}
                            <img alt="McAfee Secure" style="border: 0; padding-right: 5px;" src="/product_images/uploaded_images/mcafee.png" />
                            <li><a href="#"><img src="/product_images/uploaded_images/comodo-certificate.png" alt=""></a></li>
                        </ul>

                </div>

            </div>
            <!-- End Three Columns -->

        </div>
    </section>
    <div id="bottom-footer">
        <div class="container text-{{theme_settings.copyright_alignment}} wow fadeIn">
            {{#if theme_settings.show_copyright_footer}}
                <div class="footer-copyright">
                    <p>&copy; <span id="copyright_year"></span> {{settings.store_name}} All Rights Reserved.</p>
                </div>
                <script type="text/javascript">
                    document.getElementById("copyright_year").innerHTML = new Date().getFullYear();
                </script>
            {{/if}}

            {{#if theme_settings.show_powered_by}}
                <div class="powered-by">
                    <p>Powered by <a href="http://bigcommerce.com">BigCommerce</a>.</p>
                </div>
            {{/if}}

            {{#if theme_settings.show_template_by}}
                <div class="template-by">
                    <p>BigCommerce Templates by <a href="http://themevale.com.com" target="_blank" rel="nofollow">ThemeVale.com</a></p>
                </div>
            {{/if}}

        </div>
    </div>
</footer>

<a href="javascript:void(0);" id="back-to-top"><i class="fa fa-angle-up"></i></a>