<div class="storeLocation">
   <h3>Store Information</h3>
   <p class="store-info"></p>
   <div class="store-address">{{nl2br settings.address}}</div>
   <div class="store-email">Email: <a href="mailto:support@care.club">support@care.club</a></div>
   <div class="store-phone">Toll-free: <a href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a></div>
   <div class=""><strong>Call us anytime.</strong> If we don't pick up, we probably stepped away from our desk. Leave us a message with your name and phone number and we'll give you a call back ASAP.</div>
   <!--<label><strong>Opening Hours:</strong></label>-->
   <!--<div class="item1">Monday to Friday: 10am - 6pm (EST)</div>-->
   <!--<div class="item2">Saturdays: 12am - 5pm (EST)</div>-->
   <!--<div class="item2">Sundays: Closed</div>-->
</div>