<div id="homeTopBanners">
    <div class="container" style="padding-top:20px;">
        <h1 class="module-heading" style="padding-top:10px;"><span>Welcome to Care Club</span></h1>
        <p class="sub-module-heading">Care Club provides the understanding, advice, and solutions you need when living with incontinence.</p>
        <!-- Begin Two Rectangle Banners -->
        <div class="row">
            <div class="col-sm-6 banner-item wow fadeIn" data-wow-delay="400ms">
                <a title="Women's adult diapers" href="/brands/Prevail.html?_bc_fsnf=1&Gender=Women">
                    <img src="/product_images/uploaded_images/womens-incontinence-prevail.png" alt="Women's incontinence products, pads diapers by Prevail" />
                    <!--<button style="position:absolute;bottom:0px;" type="button" class="btn btn-primary">Shop Now</button>-->
                    <!--<p class="img"><img src="/product_images/uploaded_images/nohr-logo.png" alt="nohr" /></p>-->
                </a>
                <!--<div class="hover-text-bottom">-->
                    <!--<h5 >Women's</h5>-->
                    <!--<button type="button" class="btn btn-primary">Shop Now</button>-->
                <!--</div>-->
            </div>
            <div class="col-sm-6 banner-item has-img wow fadeIn" data-wow-delay="500ms">
                <a title="Men's adult diapers" href="/brands/Prevail.html?_bc_fsnf=1&Gender=Men">
                    <img src="/product_images/uploaded_images/mens-incontinence-prevail.png" alt="Men's incontinence products, guards, diapers by Prevail " />
                </a>
                <!--<div class="hover-text-bottom">-->
                    <!--<h5>Men's</h5>-->
                    <!--<p class="img"><img src="/product_images/uploaded_images/nohr-logo.png" alt="nohr" /></p>-->
                <!--</div>-->
            </div>
        </div>
        <!-- End Two Rectangle Banners -->

    </div>
</div>
