<div id="homeBottomBanners" class="module-wrapper wow fadeIn">
    <div class="container">
        <h2 class="module-heading"><span>Welcome to Care Club</span></h2>
        <p class="sub-module-heading">We provide the understanding, advice,
            and solutions you need when living with incontinence.</p>
        <div class="row">
            <!-- Begin Three Left Banners -->
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 banner-item wow fadeIn" data-wow-delay="100ms">
                        <a title="Learn more about Subscribe & Save" href="#placeholder_link">
                            <img src="/product_images/uploaded_images/subscribe-save-careclub.png" alt="Learn more about subscribe and save up to 5% off on adult diapers" />
                        </a>
                        <div class="hover-text-bottom">
                            <h5>Learn More About Subscription</h5>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 banner-item wow fadeIn" data-wow-delay="100ms">
                        <a title="Incontinence Pads for Urinary Leak Protection" href="#placeholder_link">
                            <img src="/product_images/uploaded_images/bladder-pads-home.png" alt="Incontinence Pads" />
                        </a>
                        <div class="hover-text-bottom">
                            <h5>Shop Light Pads</h5>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="col-xs-6 banner-item wow fadeIn" data-wow-delay="100ms">
                        <a title="Shop Personal Care Supplies" href="#placeholder_link">
                            <img src="/product_images/uploaded_images/incontinence-care-supplies.png" alt="Shop overnight adult diapers and incontinence products" />
                        </a>
                        <div class="hover-text-bottom">
                            <h5>Shop Personal Care</h5>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Three Left Banners -->
            <!-- Begin One Right Banner -->
            <div class="col-sm-6 banner-item wow fadeIn" data-wow-delay="200ms">
                <a title="Buy Adult Diapers and Pull up Underwear Online" href="#placeholder_link">
                    <img src="/product_images/uploaded_images/tranquility-overnight-diapers.png" alt="Grandparents experiencing incontinence" />
                </a>
                <div class="hover-text-bottom">
                    <h5>Shop Overnight Products</h5>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
            <!-- End One Right Banner -->
        </div>
    </div>
</div>
