<div id="homeTopBanners">
    <div class="container" style="padding-top:20px;">
        <h1 class="module-heading" style="padding-top:10px;"><span>Incontinence Made Easy</span></h1>
        <p class="sub-module-heading">Care Club provides the understanding, advice, and solutions you need when living with incontinence.</p>
        <!-- Begin Two Rectangle Banners -->
        <div class="row">
            <div class="col-sm-6 banner-item wow fadeIn" data-wow-delay="400ms">
                <a title="Women's adult diapers" href="/brands/Prevail.html?_bc_fsnf=1&Gender=Women">
                    <img src="/product_images/uploaded_images/womens-prevail-incontinence-underwear-bladder-pads-ads.png" alt="Women's incontinence products, pads diapers by Prevail" />
                    <!--<button style="position:absolute;bottom:0px;" type="button" class="btn btn-primary">Shop Now</button>-->
                    <!--<p class="img"><img src="/product_images/uploaded_images/nohr-logo.png" alt="nohr" /></p>-->
                </a>
                <!--<div class="hover-text-bottom">-->
                    <!--<h5 >Women's</h5>-->
                    <!--<button type="button" class="btn btn-primary">Shop Now</button>-->
                <!--</div>-->
            </div>
            <div class="col-sm-6 banner-item has-img wow fadeIn" data-wow-delay="500ms">
                <a title="Men's adult diapers" href="/brands/Prevail.html?_bc_fsnf=1&Gender=Men">
                    <img src="/product_images/uploaded_images/mens-prevail-incontinence-underwear-bladder-pads-ads.png" alt="Men's incontinence products, guards, diapers by Prevail " />
                </a>
                <!--<div class="hover-text-bottom">-->
                    <!--<h5>Men's</h5>-->
                    <!--<p class="img"><img src="/product_images/uploaded_images/nohr-logo.png" alt="nohr" /></p>-->
                <!--</div>-->
            </div>
        </div>
        <!-- End Two Rectangle Banners -->
         <!--Begin Three Square Banners -->
        <div class="row">
            <div class="col-sm-4 banner-item wow fadeIn" data-wow-delay="100ms">
                <a title="Light bladder control pads and male guards for incontinence" href="/pads-underpads/?_bc_fsnf=1&Product=Pads">
                    <img src="/product_images/uploaded_images/light-bladder-pads-370x380.png" alt="Light bladder control pads and male guards for incontinence Prevail" />
                </a>
                <!--<div class="hover-text-bottom">-->
                    <!--<h5>Snow Safety Collection</h5>-->
                    <!--<p>Quisque blandit tincidunt an sit ametos <i class="fa fa-caret-right"></i></p>-->
                <!--</div>-->
            </div>
        <div class="col-sm-4 banner-item wow fadeIn" data-wow-delay="200ms">
            <a title="Adult pull on diapers" href="/pull-up-diapers/">
                <img src="/product_images/uploaded_images/adult-pull-on-underwear-370x380.png" alt="Incontinence protective underwear Prevail" />
            </a>
            <!--<div class="hover-text-bottom">-->
                <!--<h5>Running shoes</h5>-->
                <!--<p>Duis consectetur an lorem cursus <i class="fa fa-caret-right"></i></p>-->
            <!--</div>-->
        </div>
            <div class="col-sm-4 banner-item wow fadeIn" data-wow-delay="300ms">
                <a title="Adult diapers overnight Preval" href="/adult-diapers/">
                    <img src="/product_images/uploaded_images/adult-diapers-370x380.png" alt="Adult Diapers Prevail" />
                </a>
                <!--<div class="hover-text-bottom">-->
                    <!--<h5>Never. Stop. Exploring.</h5>-->
                    <!--<p>Quisque blandit tincidunt an sit ametos <i class="fa fa-caret-right"></i></p>-->
                <!--</div>-->
            </div>
        </div>
         <!--End Three Square Banners -->
    </div>
</div>
