<div id="homeBrands" class="wow fadeIn">
    <div class="container">
        <div class="owl-carousel" data-owl='{
            "items": 6,
            "nav": true,
            "margin": 30,
            "dots": false,
            "slideBy": 5,
            "responsive": {
               "0": {
                  "items": 1,
                  "slideBy": 1
               },
               "420": {
                  "items": 2,
                  "slideBy": 2
               },
               "560": {
                  "items": 3,
                  "slideBy": 3
               },
               "768": {
                  "items": 4,
                  "slideBy": 4
               },
               "992": {
                  "items": 4,
                  "slideBy": 4
               },
               "1200": {
                  "items": 5,
                  "slideBy": 5
               }
            },
            "responsiveRefreshRate": 0
         }'>
            <a href="/brands/Abena.html" title="Abena Incontinence Supplies">
            <img src="/product_images/uploaded_images/abena-slider.png" alt="Abena Adult diapers Brand Link"
                 onmouseover="this.src='/product_images/uploaded_images/abena-slider-color.png';"
                 onmouseout="this.src='/product_images/uploaded_images/abena-slider.png';">
            </img>
            </a>
            <a href="/brands/TENA.html" title="TENA Incontinence Supplies">
                <img src="/product_images/uploaded_images/tena-slider.png" alt="TENA  Adult diapers Brand Link"
                     onmouseover="this.src='/product_images/uploaded_images/tena-slider-color.png';"
                     onmouseout="this.src='/product_images/uploaded_images/tena-slider.png';">
                </img>
            </a>
            <a href="/brands/Tranquility.html" title="Tranquility Incontinence Supplies">
                <img src="/product_images/uploaded_images/tranquility-slider.png" alt="Tranquility Adult diapers Brand Link"
                     onmouseover="this.src='/product_images/uploaded_images/tranquility-slider-color.png';"
                     onmouseout="this.src='/product_images/uploaded_images/tranquility-slider.png';">
                </img>
            </a>
            <a href="/brands/Prevail.html" title="Prevail Incontinence Supplies">
                <img src="/product_images/uploaded_images/prevail-slider.png" alt="Prevail  Adult diapers  Brand Link"
                     onmouseover="this.src='/product_images/uploaded_images/prevail-slider-color.png';"
                     onmouseout="this.src='/product_images/uploaded_images/prevail-slider.png';">
                </img>
            </a>
            <a href="/brands/Covidien.html" title="Covidien Incontinence Supplies">
                <img src="/product_images/uploaded_images/covidien-slider.png" alt="Covidien hospital adult diapers Brand Link"
                     onmouseover="this.src='/product_images/uploaded_images/covidien-slider-color.png';"
                     onmouseout="this.src='/product_images/uploaded_images/covidien-slider.png';">
                </img>
            </a>
            <a href="/brands/Swimmates.html" title="Swimmates Incontinence Supplies">
                <img src="/product_images/uploaded_images/swimmates-slider.png" alt="Swimmates Adult swim waterproof diapers Brand Link"
                     onmouseover="this.src='/product_images/uploaded_images/swimmates-slider-color.png';"
                     onmouseout="this.src='/product_images/uploaded_images/swimmates-slider.png';">
                </img>
            </a>
            <a href="/brands/Attends.html" title="Attends Incontinence Supplies">
                <img src="/product_images/uploaded_images/attends-slider.png" alt="Attends domtar adult and baby diapers for incontinence Adult diapers Brand Link"
                     onmouseover="this.src='/product_images/uploaded_images/attends-slider-color.png';"
                     onmouseout="this.src='/product_images/uploaded_images/attends-slider.png';">
                </img>
            </a>
            <a href="/brands/McKesson.html" title="McKesson Incontinence Supplies">
                <img src="/product_images/uploaded_images/mckesson-slider.png" alt="McKesson medical supplies, underpads, and adult diapers Brand Link"
                     onmouseover="this.src='/product_images/uploaded_images/mckesson-slider-color.png';"
                     onmouseout="this.src='/product_images/uploaded_images/mckesson-slider.png';">
                </img>
            </a>
            <a href="/brands/Depend.html" title="Depend Incontinence Supplies">
                <img src="/product_images/uploaded_images/depend-slider.png" alt="Depend Adult diapers and protective underwear Brand Link"
                     onmouseover="this.src='/product_images/uploaded_images/depend-slider-color.png';"
                     onmouseout="this.src='/product_images/uploaded_images/depend-slider.png';">
                </img>
            </a>
            <a href="/brands/Poise.html" title="Poise Incontinence Supplies">
                <img src="/product_images/uploaded_images/poise-slider.png" alt="Poise Adult incontinence pads Brand Link"
                     onmouseover="this.src='/product_images/uploaded_images/poise-slider-color.png';"
                     onmouseout="this.src='/product_images/uploaded_images/poise-slider.png';">
                </img>
            </a>
            <a href="/brands/Cuties.html" title="Cuties Baby and Youth Diapers">
                <img src="/product_images/uploaded_images/cuties-slider.png" alt="Cuties baby and youth diapers Brand Link"
                     onmouseover="this.src='/product_images/uploaded_images/cuties-slider-color.png';"
                     onmouseout="this.src='/product_images/uploaded_images/cuties-slider.png';">
                </img>
            </a>
            <a href="/brands/Comfees.html" title="Comfees by Attends Baby and Youth Diapers">
                <img src="/product_images/uploaded_images/comfees-slider.png" alt="Cuties baby and youth diapers Brand Link"
                     onmouseover="this.src='/product_images/uploaded_images/comfees-slider-color.png';"
                     onmouseout="this.src='/product_images/uploaded_images/comfees-slider.png';">
                </img>
            </a>
        </div>
    </div>
</div>
