<div id="homeBrands" class="wow fadeIn">
    <div class="container">
        <div class="owl-carousel" data-owl='{
            "items": 6,
            "nav": true,
            "margin": 30,
            "dots": false,
            "slideBy": 5,
            "responsive": {
               "0": {
                  "items": 1,
                  "slideBy": 1
               },
               "420": {
                  "items": 2,
                  "slideBy": 2
               },
               "560": {
                  "items": 3,
                  "slideBy": 3
               },
               "768": {
                  "items": 4,
                  "slideBy": 4
               },
               "992": {
                  "items": 4,
                  "slideBy": 4
               },
               "1200": {
                  "items": 5,
                  "slideBy": 5
               }
            },
            "responsiveRefreshRate": 0
         }'>
            <a href="/brands/Abena.html" title="Abena Incontinence Supplies"><img src="/product_images/uploaded_images/abena_logo.jpg" alt="Abena Adult diapers Brand Link" /></a>
            <a href="/brands/TENA.html" title="TENA Incontinence Supplies"><img src="/product_images/uploaded_images/tena_logo.jpg" alt="TENA  Adult diapers Brand Link" /></a>
            <a href="/brands/Tranquility.html" title="Tranquility Incontinence Supplies"><img src="/product_images/uploaded_images/tranquility_logo.jpg" alt="Tranquility Adult diapers  Brand Link" /></a>
            <a href="/brands/Prevail.html" title="Prevail Incontinence Supplies"><img src="/product_images/uploaded_images/prevail_logo.jpg" alt="Prevail  Adult diapers  Brand Link" /></a>
            <a href="/brands/Covidien.html" title="Covidien Incontinence Supplies"><img src="/product_images/uploaded_images/covidien_logo.jpg" alt="Covidien hospital adult diapers Brand Link" /></a>
            <a href="/brands/Swimmates.html" title="Swimmates Incontinence Supplies"><img src="/product_images/uploaded_images/swimmates_logo.jpg" alt="Swimmates Adult swim waterproof diapers Brand Link" /></a>
            <a href="/brands/Attends.html" title="Attends Incontinence Supplies"><img src="/product_images/uploaded_images/attends_logo.jpg" alt="Attends Adult diapers Brand Link" /></a>
            <a href="/brands/McKesson.html" title="McKesson Incontinence Supplies"><img src="/product_images/uploaded_images/mckesson_logo.jpg" alt="McKesson medical supplies and Adult diapers Brand Link" /></a>
            <a href="/brands/Depend.html" title="Depend Incontinence Supplies"><img src="/product_images/uploaded_images/depend_logo.jpg" alt="Depend Adult diapers Brand Link" /></a>
            <a href="/brands/Poise.html" title="Poise Incontinence Supplies"><img src="/product_images/uploaded_images/poise_logo.jpg" alt="Poise Adult diapers Brand Link" /></a>
            <a href="/brands/Cuties.html" title="Cuties Baby and Youth Diapers"><img src="/product_images/uploaded_images/cuties_logo.jpg" alt="Cuties diapers Brand Link" /></a>
            <a href="/brands/Medline.html" title="Medline Incontinence Supplies"><img src="/product_images/uploaded_images/medline_logo.jpg" alt="Medline Medical Supplies Brand Link" /></a>

            <a href="/brands/Unique-Wellness.html" title="Unique Wellness Incontinence Supplies"><img src="/product_images/uploaded_images/wellness_logo.jpg" alt="Unique Wellness Nasa Adult diapers Brand Link" /></a>
        </div>
    </div>
</div>
