    <div class="container" style="padding-top:20px;">
        <!--Begin Three Square Banners -->
        <div class="row">
            <div class="col-sm-4 banner-item wow fadeIn" data-wow-delay="300ms">
                <a title="Overnight adult diapers tranquility premium overnight pull up diapers" href="/brands/Tranquility.html?_bc_fsnf=1&Absorbency=Overnight">
                    <img src="/product_images/uploaded_images/tranquility-premium-overnight-adult-diaper-underwear-ad.png" alt="Overnight adult diapers tranquility premium overnight pull up diapers" />
                </a>
            </div>
            <div class="col-sm-4 banner-item wow fadeIn" data-wow-delay="100ms">
                <a title="Booster pads for adult diapers" href="#placeholder_link">
                    <img src="/product_images/uploaded_images/booster-pads-ad-tranquility-top-liner.png" alt="Doublers for adult diapers" />
                </a>
            </div>
            <div class="col-sm-4 banner-item wow fadeIn" data-wow-delay="200ms">
                <a title="Subscribe and save on adult diapers and incontinence products" href="#placeholder_link">
                    <img src="/product_images/uploaded_images/subscribe-and-save-care-club-incontinence-supplies.png" alt="Subscribe and save on adult diapers and incontinence products" />
                </a>
            </div>
        </div>
        <!--End Three Square Banners -->
    </div>
