    <div class="container" style="padding-top:20px;">
        <!--Begin Three Square Banners -->
        <div class="row">
            <div class="col-sm-4 banner-item wow fadeIn" data-wow-delay="300ms">
                <a title="Never. Stop. Exploring." href="#placeholder_link">
                    <img src="/product_images/uploaded_images/tranquility-premium-overnight-adult-diaper-underwear-ad.png" alt="Never. Stop. Exploring." />
                </a>
            </div>
            <div class="col-sm-4 banner-item wow fadeIn" data-wow-delay="100ms">
                <a title="Snow Safety Collection" href="#placeholder_link">
                    <img src="/product_images/uploaded_images/booster-pads-ad-tranquility-top-liner.png" alt="Snow Safety Collection" />
                </a>
            </div>
            <div class="col-sm-4 banner-item wow fadeIn" data-wow-delay="200ms">
                <a title="Running shoes" href="#placeholder_link">
                    <img src="/product_images/uploaded_images/subscribe-and-save-care-club-incontinence-supplies.png" alt="Running shoes" />
                </a>
            </div>
        </div>
        <!--End Three Square Banners -->
    </div>
