<div id="homeTopBanners">
    <div class="container" style="padding-top:20px;">
        <h1 class="module-heading" style="padding-top:10px;"><span>Incontinence Made Easy</span></h1>

        <!--Begin Three Square Banners -->
        <div class="row">
            <div class="col-sm-4 banner-item wow fadeIn" data-wow-delay="100ms">
                <a title="Bladder control pads and male guards" href="/pads-underpads/?_bc_fsnf=1&Product=Pads">
                    <img src="/product_images/uploaded_images/light-bladder-pads-370x380.png" alt="Bladder control pads and male guards Prevail" />
                </a>
                <!--<div class="hover-text-bottom">-->
                <!--<h5>Snow Safety Collection</h5>-->
                <!--<p>Quisque blandit tincidunt an sit ametos <i class="fa fa-caret-right"></i></p>-->
                <!--</div>-->
            </div>
            <div class="col-sm-4 banner-item wow fadeIn" data-wow-delay="200ms">
                <a title="Adult pull on diapers" href="/pull-up-diapers/">
                    <img src="/product_images/uploaded_images/adult-pull-on-underwear-370x380.png" alt="Incontinence protective underwear Prevail" />
                </a>
                <!--<div class="hover-text-bottom">-->
                <!--<h5>Running shoes</h5>-->
                <!--<p>Duis consectetur an lorem cursus <i class="fa fa-caret-right"></i></p>-->
                <!--</div>-->
            </div>
            <div class="col-sm-4 banner-item wow fadeIn" data-wow-delay="300ms">
                <a title="Adult diapers overnight Prevail" href="/adult-diapers/">
                    <img src="/product_images/uploaded_images/adult-diapers-370x380.png" alt="Adult Diapers Prevail" />
                </a>
                <!--<div class="hover-text-bottom">-->
                <!--<h5>Never. Stop. Exploring.</h5>-->
                <!--<p>Quisque blandit tincidunt an sit ametos <i class="fa fa-caret-right"></i></p>-->
                <!--</div>-->
            </div>
        </div>
        <!--End Three Square Banners -->
    </div>
</div>
