<!-- Begin Halo Newsletter Popup -->
<div id="halo-newsletter-popup" class="hide">
    <div class="popup-overlay"></div>
    <div class="newsletter-popup-container">
        <div class="newsletter-popup-inner">
            <button title="Close" type="button" data-close-newsletter-popup>×</button>
            <div class="newsletter-left">
                <h2 class="newsletter-heading">Join Our Mailing List</h2>
                <h3>Sign up & Get 5% off your first order</h3>
                <div id="popupSubcribeForm">
                    <form class="form" action="{{urls.subscribe.action}}" method="post" id="popupSubcribeFormSubmit">
                        <fieldset class="form-fieldset">
                            <input type="hidden" name="action" value="subscribe">
                            <input type="hidden" name="check" value="1">
                            <div class="form-field">
                                <div class="form-wrap">
                                    <div class="div">
                                        <input class="form-input" id="nl_first_name" name="nl_first_name" type="text" value="{{customer.name}}" placeholder="{{lang 'newsletter.your_name_placeholder'}}">
                                    </div>
                                    <div>
                                        <input class="form-input" id="nl_email" name="nl_email" type="email" placeholder="{{lang 'newsletter.email_placeholder'}}">
                                    </div>
                                </div>
                                <input class="btn btn-primary btn-subcribe" type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <h4>Check your email for a special coupon code!</h4>
            </div>
            <div class="newsletter-right">
                <img src="/product_images/uploaded_images/newsletter-bg.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- End Halo Newsletter Popup -->
