<div id="sideBannerImage" class="sidebarBlock">
    <a class="btn_c typeform-share" href="https://lovecareclub.typeform.com/to/YOMJxQ" target="_blank">
        <img src="/product_images/uploaded_images/quiz-cms-block.png" alt="Take our incontinence products quiz">
    </a>
</div>
<div id="sideCustomCMS" class="sidebarBlock">
    <a href="/subscribe-and-save/" title="subscribe and save to adult diaper products"><img src="/product_images/uploaded_images/subscribe-and-save-cms-block.png" alt="Side Left Banner"></a>
    <h5 class="side-module-heading" style="padding-top:10px;"><span>Need Help?</span></h5>
    <div class="side-cms-content">
        <p><a href="tel:+18558551666">Give us a call at <strong>(855) 855-1666</strong> <i class="fa fa-angle-double-right"></i></a></p>
    </div>
</div>

